<% layout("layouts/boilerplate") -%>
<div class="h2Div">
  <h2 class="aboutTitle">About <span>Le Mot Juste...</span></h2>
</div>
<div class="aboutBox">
  <div class="aboutBorder">
    <h4 class="aboutSub">Le Mot Juste</h4>
    <p class="aboutText">
      Gustav Flaubert believed in, and pursued, the principle of finding <span>"Le Mot Juste"</span> (the right word), which he considered as the key means to achieve quality in literary art.
      <br>
      <br>
      <span>Wikipedia</span>
    </p>
    <h4 class="aboutSub">Quote Generator</h4>
    <p class="aboutText">
      <span>Le Mot Juste</span> homepage gives users unlimited access to awe inspiring quotes
      to massage one's noodle. This dazzling compendium is complemented by a
      dictionary to help navigate the occasionally labarinthine prose.
    </p>
    <h4 class="aboutSub">Members</h4>
    <p class="aboutText">
      <span>Le Mot Juste</span> members are gifted with access to a free database with which
      to compile their own lexicon of mind warping wisdom.
    </p>
    <h4 class="aboutSub">Academic Mode</h4>
    <p class="aboutText">
      Select Academic Mode to enable Harvard referencing options. With Academic Mode disabled, <span>Le Mot Juste</span> provides referencing options limited to author. 
    </p>
  </div>
</div>
