<% layout("layouts/boilerplate") -%>
<%- include("layouts/partials/alert")  %> 
<div class="slideBorder" id="slideBorder">
  <div class="slideShow" id="slideShow"></div>
</div>
<div class="quoteSection">
    <h1 class="quoteTitle">Quote Generator</h1>
    <div class="quoteMain">
    <div class="quoteBorder" id="quoteBorder">
        <p class="quoteText" id="quoteText"><span id="spanInput" class="spanInput"></span><span id="imgInput"></span></p>
        <br>
        <p class="quoteAuthor" id="quoteAuthor"></p>
    </div>
  </div>
  <div class="quoteSub">
    <button class="quoteBtn" id="quoteBtn" type="button">NEW QUOTE</button>
  </div>
</div>
<script src="/js/apphome.js" type="text/javascript"></script>
